<div class="header">
    <div class="wrapper clearf">
        <div class="logo"><img src="/Content/images/224x68x1.png" alt="" /></div>
        <div class="search">
            <button></button>
            <input id="search" type="text" value="输入您搜索的关键字">
        </div>
        <div class="more">
            <a href="" class="info"></a>
            <a href="/Public/Account/LogOff" class="quit"></a>
        </div>
        <div class="role">
            <a class="img" href=""><img src="@ViewBag.CurrentUser.Photo" alt="@ViewBag.CurrentUser.Name" height="50" width="50" ></a>
            <span>早上好，@ViewBag.CurrentUser.Name 先生！</span>
        </div>
    </div>
</div>