@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}
<div id="">
    @Html.Partial("HeaderPartialView")
    <div class="main clearf">
        <div class="wrapper">
            @Html.Partial("MenuLeftPartialView")
            <div class="right_content">
                <div id="mainTabs">

                </div>
                <div class="ddgl clearf calculate">
                </div>
            </div>
            <div class="footer">
                <div class="wrapper"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $('#mainTabs').tabs({ tabHeight: 43 });
        //添加Tab
        /*
        title:tab标题,
        url:链接地址,
        closable:是否带关闭按钮,
        isRresh:是否刷新页面内容
        */
        function addMainTab(title, url, closable, isRresh) {
            isRresh = false || isRresh;
            if ($('#mainTabs').tabs('exists', title)) {
                if (isRresh) {
                    updateMainTab(title, title, url);
                }
                else {
                    $('#mainTabs').tabs('select', title);
                }
            } else {
                if (closable == undefined) { closable = true; }
                $('#mainTabs').tabs('add', {
                    title: title,
                    content: '<iframe style="width:100%;height:100%;border:none;margin:0;padding:0;" src="' + url + '"></iframe>',
                    closable: closable
                });
                
                $(".right_content .panel-body").css("height", $(window).height() - 68);
                $(".tabs-panels iframe").height($(window).height() - 113);

            }
        }
        $(function () {
            //首页Tab初始化
            addMainTab('首页', '/Public/Home/Main', false);
        });
        //修改tab
        function updateMainTab(title, newTitle, url) {
            //选中指定选项卡
            if ($('#mainTabs').tabs('exists', title)) {
                $('#mainTabs').tabs('select', title);
            }
            var tab = $('#mainTabs').tabs('getSelected');
            $('#mainTabs').tabs('update', {
                tab: tab,
                options: {
                    title: newTitle,
                    content: '<iframe style="width:100%;height:100%;border:none;margin:0;padding:0;" src="' + url + '"></iframe>'
                }
            });
        }
        //close tab(如果有指定选项卡,关闭指定选项卡,如果没有关闭当前选项卡)
        function closeMainTab(title) {
            var tab= $('#mainTabs').tabs('getSelected');
            var index = $('#mainTabs').tabs('getTabIndex', tab);
            title = title || index;//为空时关闭当前选项卡
            if (title&&$('#mainTabs').tabs('exists',title)) {
                $('#mainTabs').tabs('close', title);
            }           
        }
    </script>
}
