<div class="right_content_top">
    <span class="hello">早上好，@ViewBag.CurrentUser.Name 先生！</span><a class="manage" href=""><i></i><span>管理员账号</span></a>
    <span class="message"><i></i>系统广播信息：库存总量增加200吨，本月销售收入20万!</span>
</div>
<div class="index clearf">
    <div class="info clearf" style="">
        <div class="d1 shadow"><i></i><span>库存总量(本月)：100吨<br>库存成本(本月)：26000</span></div>
        <div class="d2 shadow"><i></i><span>销售收入(本月)：20万<br>销售毛利(本月)：80000</span></div>
        <div class="d3 shadow"><i></i><span>采购金额(本月)：7万<br>商品种类(本月)：1800</span></div>
        <div class="d4 shadow" onclick="parent.addMainTab('采购入库', '/Stocks/StockIns/Index')"><i></i><span>采购入库</span></div>
        <div class="d5 shadow" onclick="parent.addMainTab('现货销售', '/Sales/SalesByInventories/Index')"><i></i><span>现货销售</span></div>
        <div class="d6 shadow" onclick="parent.addMainTab('报表分析', '')"><i></i><span>报表分析</span></div>
        <div class="d7 shadow" onclick="parent.addMainTab('采购索赔', '/Orders/ImportClaimCompensation/Index')"><i></i><span>采购索赔</span></div>
        <div class="d8 shadow" onclick="parent.addMainTab('工资查询', '')"><i></i><span>工资查询</span></div>
        <div class="d9 shadow" onclick="parent.addMainTab('意见反馈', '')"><i></i><span>意见反馈</span></div>
    </div>
    <div class="other">
        <div class="shadow"><span class="t">牛奶预订100万件...</span><span class="b">15:30TM 2014.07.12</span></div>
        <div class="shadow"><span class="t">牛奶预订100万件...</span><span class="b">15:30TM 2014.07.12</span></div>
        <div class="shadow"><span class="t">牛奶预订100万件...</span><span class="b">15:30TM 2014.07.12</span></div>
        <div class="shadow"><span class="t">牛奶预订100万件...</span><span class="b">15:30TM 2014.07.12</span></div>
    </div>
</div>