@{
    ViewBag.Title = "采购尾款";
}

<div class="ddgl clearf calculate">
</div>

@section scripts{
    <script>
        //$('button.index').click(function () {
        //    parent.addMainTab('现货库存', '/' + Area + '/' + 'StockItems' + '/Index', true);
        //    parent.add
        //});
    </script>
}


