@{
    ViewBag.Title = "采购汇总表";
}

<div class="ddgl clearf calculate">

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; font-size:12px;"></div>

    <div id="container_two" style="width:60%; height: 400px; float:left; "></div>

    <div id="container_three" style="width:40%; height: 400px; float:left; "></div>    

    @*<!--20150123 直接引用js，视为没有ScriptBundle优化-->*@
    <script type="text/javascript" src="~/Scripts/reports/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/reports/highcharts.js"></script>
    <script type="text/javascript" src="~/Scripts/reports/modules/exporting.src.js"></script>

    @*批量间接引用（经过ScriptBundle压缩优化）*@
    @*@Scripts.Render("~/ScriptBundle/reports")*@
    @*批量间接引用，并且使用HTML5 async/defer 关键字属性（经过ScriptBundle压缩优化）
        参考： https://html.spec.whatwg.org/#attr-script-async*@
    @*<script src='@Scripts.Url("~/ScriptBundle/reports")' async> </script>
    <script src='@Scripts.Url("~/ScriptBundle/reports")' defer> </script>*@
    @*“~/ScriptBundle/reports” 要与BundleConfig.cs里面的ScriptBundle构造函数的第一个参数完全匹配，
        才能够准确找到使用Bundle优化的JS，CSS也同样可以这样*@    
    <!--竖向柱状图-->
    <script type="text/javascript">
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '采购员2015每月采购总额汇总表'
                },
                subtitle: {
                    text: '大西洋ERP'
                },
                xAxis: {
                    categories: [
                        '一月',
                        '二月',
                        '三月',
                        '四月',
                        '五月',
                        '六月',
                        '七月',
                        '八月',
                        '九月',
                        '十月',
                        '十一月',
                        '十二月'
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '采购额 (万元)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} 万元</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: '采购员1',
                    data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

                }, {
                    name: '采购员2',
                    data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

                }, {
                    name: '采购员3',
                    data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

                }, {
                    name: '采购员4',
                    data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

                }, {
                    name: '采购员5',
                    data: [62.4, 83.2, 34.5, 29.7, 52.6, 75.5, 27.4, 60.4, 47.6, 39.1, 16.8, 51.1]

                }]
            });
        });


    </script> 

    <!--横向柱状图-->
    <script type="text/javascript">
        $(function () {
            $('#container_two').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '采购员2015年采购总额汇总表'
                },
                subtitle: {
                    text: '大西洋ERP'
                },
                xAxis: {
                    categories: ['采购员1', '采购员2', '采购员3', '采购员4', '采购员5'],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '单位(万元)',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: '万元'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: '2015年',
                    data: [1321.6, 1127.7, 610.4, 580.3, 580.3]
                }]
            });
        });


    </script>


    <!--饼图-->
    <script type="text/javascript">
        $(function () {
            $('#container_three').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 1,//null,
                    plotShadow: false
                },
                title: {
                    text: '2015年各采购员采购金额占比'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '采购额占比',
                    data: [
                        ['采购员1', 31.31],
                        ['采购员2', 26.72],
                        ['采购员3', 14.46],
                        ['采购员4', 13.75],
                        ['采购员5', 13.75]
                    ]
                }]
            });
        });


    </script>
</div>

@section scripts{

    @*<script type="text/javascript" src="../js/jquery-1.8.2.min.js"></script>
        <script src="../js/highcharts.js"></script>
        <script src="../js/modules/exporting.src.js"></script>*@


}
