@{
    ViewBag.Title = "商品入仓";
}

<div>
    <button class="index"><i></i>返回现货库存</button>
</div>
<div class="ddgl clearf calculate">
</div>

@section scripts{
    <script>
        $('button.index').click(function () {
            parent.addMainTab('现货库存', '/' + Area + '/' + Controller + '/Index', true);
            parent.add
        });
    </script>
}


